<!-- CTA -->
<section id="cta">

	<h2>Subscribite a nuesta lista de correos</h2>
	<p>Y no te pierdas novedades ni fechas importantes.</p>

	<form>
		<div class="row uniform 50%">
			<div class="8u 12u(mobilep)">
				<input type="email" name="email" id="email" placeholder="Correo electrónico" />
			</div>
			<div class="4u 12u(mobilep)">
				<input type="submit" value="Subscribirme" class="fit" />
			</div>
		</div>
	</form>
	<p></p>
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	</ul>

	<!-- email de contacto -->
	<h3>Para consultas, escribinos a <a href="mailto:
		{{ site.email }}">{{ site.email }}</a></h3>


</section>