<nav id="nav">
    <ul>
        <li><a class="nav-button" href="{{ site.baseurl | prepend: site.url }}">Inicio</a></li>
        <li>
            <a href="{{ site.baseurl }}/sobre-el-congreso" class="icon solid fa-angle-down">Sobre el congreso</a>
            <ul>
                <!-- <li><a href="{{ site.baseurl }}/sobre-el-congreso#ejes-tematicos">Ejes temáticos</a></li> -->
                <li><a href="{{ site.baseurl }}/sobre-el-congreso#organizadores">Organizadores</a></li>
                <li><a href="{{ site.baseurl }}/sobre-el-congreso#circulares">Circulares</a></li>
                <!-- 
                <li>
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Option One</a></li>
                        <li><a href="#">Option Two</a></li>
                        <li><a href="#">Option Three</a></li>
                        <li><a href="#">Option Four</a></li>
                    </ul>
                </li> -->
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/inscripcion" class="icon solid fa-angle-down">Inscripción</a>
            <ul>
                <li><a href="{{ site.baseurl }}/inscripcion#presentar-un-trabajo">Presentar un trabajo</a></li>
                <li><a href="{{ site.baseurl }}/inscripcion#asistir">Asistir</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/programa" class="icon solid fa-angle-down">Programa</a>
            <ul>
                <li><a href="{{ site.baseurl }}/programa#grilla">Grilla</a></li>
                <li><a href="{{ site.baseurl }}/programa#programa-completo">Programa Completo</a></li>
            </ul>
        </li>
        <li><a class="nav-button" href="{{ site.baseurl }}/#cta">Contacto</a></li>
        <li><a class="button special" href="{{ site.baseurl }}/2023">Sitio 2023</a></li>
        <li><a class="button special" href="{{ site.baseurl }}/english">English</a></li>
        <!-- <li><a href="{{ site.baseurl }}/" class="hover-text">Calendario</a></li>
        <li><a href="{{ site.baseurl }}/" class="hover-text">Contacto</a></li> -->

        <!-- <li><a href="{{ site.baseurl }}/#" class="button">Sign Up</a></li> -->
    </ul>
</nav>