<nav id="nav">
	<ul>
		<li><a href="{{ site.baseurl | prepend: site.url }}">Home</a></li>
		<li>
			<a href="#" class="icon solid fa-angle-down">Sobre el congreso</a>
			<ul>
				<li><a href="generic.html">Ejes</a></li>
				<li><a href="contact.html">Comité Académico</a></li>
				<li><a href="elements.html">Equipo organizador</a></li>
				<li>
					<a href="#">Submenu</a>
					<ul>
						<li><a href="#">Option One</a></li>
						<li><a href="#">Option Two</a></li>
						<li><a href="#">Option Three</a></li>
						<li><a href="#">Option Four</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="#" class="icon solid fa-angle-down">Inscripción</a>
			<ul>
				<li><a href="generic.html">Registro</a></li>
				<li><a href="contact.html">Paper submission</a></li>
			</ul>
		</li>
		<li><a href="index.html">Apoyos</a></li>
		<li><a href="index.html">Contacto</a></li>
		<li><a href="#" class="button">Sign Up</a></li>
	</ul>
</nav>