<nav id="nav">
	<ul>
		<li><a class="nav-button" href="{{ site.baseurl | prepend: site.url }}">Inicio</a></li>
		<li>
			<a href="sobre-el-congreso" class="icon solid fa-angle-down">Sobre el congreso</a>
			<ul>
				<li><a href="sobre-el-congreso#ejes-tematicos">Ejes temáticos</a></li>
				<li><a href="sobre-el-congreso#organizadores">Organizadores</a></li>
				<li><a href="sobre-el-congreso#circulares">Circulares</a></li><!-- 
				<li>
					<a href="#">Submenu</a>
					<ul>
						<li><a href="#">Option One</a></li>
						<li><a href="#">Option Two</a></li>
						<li><a href="#">Option Three</a></li>
						<li><a href="#">Option Four</a></li>
					</ul>
				</li> -->
			</ul>
		</li>
		<li>
			<a href="inscripcion" class="icon solid fa-angle-down">Inscripción</a>
			<ul>
				<li><a href="inscripcion#asistir">Asistir</a></li>
				<li><a href="inscripcion#presentar-un-trabajo">Presentar un trabajo</a></li>
			</ul>
		</li>
		<li><a class="nav-button" href="calendario">Calendario</a></li>
		<li><a class="nav-button" href="#cta">Contacto</a></li>
		<!-- <li><a href="/" class="hover-text">Calendario</a></li>
		<li><a href="/" class="hover-text">Contacto</a></li> -->

		<!-- <li><a href="#" class="button">Sign Up</a></li> -->
	</ul>
</nav>